/* CSS Document */

.wrapperdiv {
    margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
    width: 100%;
    position:relative;
    max-width: 1200px;
	display: block;
	justify-content: center;
	align-content: center;
}

.bannergrid {


    display: -webkit-flex; /* Safari */
    display: flex;

    flex-wrap: wrap;
    flex: 1 0 auto;

    -webkit-flex-wrap: wrap;
    -webkit-flex: 1 0 auto;

    align-items: center;
	
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	max-width: 980px;
	width:100%;
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;		
}


.bannergrid > .bannercell:last-child{
  margin-left: auto;
  text-align: right;
}

.bannercell {
    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
	height:200px;
    min-width:0;
	max-width:100%;
    padding:1em;
}

.bannercelltext {
    display: block;
}

.bannerimage {
    top: 0;
    position: relative;
    height: auto;
    padding: 2px;
	margin-left: auto;
	margin-right:auto;
	max-width: 100%;
	display: block;
	object-fit: contain;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 13px 0px;
}

.bannerlogo {
	float:none;
    display: inline-block;
	max-height: 200px;
	max-width: 100%;
	height: auto;
    padding: 2px;
	margin: 0;
	background-size: contain;	
}

.contactimage {
    padding: 0px;
    margin-bottom: 0px;
}

.advertgrid {
    display: -webkit-flex; /* Safari */
    display: flex;

    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    
    justify-content: center;
	align-content: center;
	width:100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;	
}

.advert {
    display: -webkit-flex; /* Safari */
    display: flex;

    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;

    -webkit-flex-direction: row;
    flex-direction: row;

    align-content: flex-start;
	
    max-width: 860px;
    min-width: 366px;

    padding: 15px;    
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 13px 0px;	
	margin:15px;	
}

.advertcontent {
    align-self: center;
    display: block;
    width: 99%;
    min-width: 280px;
    vertical-align: top;	
	margin:5px;
	text-align: left;
}

.advertvid {
    width: 360px;
    height: 270px;
}

.advertimage {
	margin-top: 3px;
	margin-bottom: 3px;
    width: 360px;
    height: 270px;
	display: block;
	margin: 10px auto;
}

@media (min-width: 450px){
    .advert {
        width: 45%;
    }
    .advertcontent {
        margin-left: 3%;
        min-width: 0px;
    }
}

.phead1 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-large;
    margin-bottom: 0px;
    margin-top: 0px;
}

.phead2 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: x-large;
    margin-bottom: 0px;
    margin-top: 0px;
}

.phead3 {
    display:block;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: x-large;
    margin-top: 5px;
    margin-bottom: 5px;
	text-align:center;
}

.ptext1 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: large;
    margin-bottom: 3px;
    margin-top: 3px;
	margin-right: 1px;
}

a:link {
	text-decoration: none;
	color: #C00000;
}
a:visited {
	text-decoration: none;
	color: #C00000;
}
a:hover {
	text-decoration: none;
	color: #666666;
}
a:active {
	text-decoration: none;
}

.mainlink {
	color: #C00000;
	
}

.slink {
	color: #FFFFFF;
	font-size: small;
}

.bodystyle {
	margin: 0;
	padding: 12px;
    overflow-y: scroll;
}

.paperdiv{
  width: 100%;
  padding: 12px 12px;      /* more breathing room inside */
  margin: 12px 0;          /* space between cards */  
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 8px;  /* a bit stronger */
  box-sizing: border-box;
}

.papertitle {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: large;
}

.pcit{
  display: grid;
  grid-template-columns: 3em 1fr;  /* fixed year column -> consistent alignment */
  column-gap: 0.9em;

  margin: 0;
  padding: 0;
  text-indent: 0;

  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: large;
  text-align: left;
  overflow-wrap: break-word;
  align-items: start;
}

.pyear{
  justify-self: end;     /* right edge alignment in the year column */
  text-align: right;
  white-space: nowrap;
  margin: 0;
  padding: 0;
}

.pentry{
  min-width: 0;          /* important for wrapping in grid */
  margin: 0;
  padding: 0;
  text-indent: 0;        /* guarantees no hanging indent inside entry */
}

.doi{
	font-size:large;
}

@media (max-width: 520px){
  .pcit{
    grid-template-columns: 2.2em 1fr;  /* tighter year column */
    column-gap: 0.35em;
  }
  .pyear{
	  font-size: 0.80em;	  
  }
  .paperdiv{
	  padding: 10px 8px;
  }
  .doi{
	  font-size: 0.75em;
  }
}
