/* CSS Document */

.wrapperdiv {
    margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
    width: 100%;
    position:relative;
    max-width: 1200px;
	display: block;
	justify-content: center;
	align-content: center;
}

.bannergrid {


    display: -webkit-flex; /* Safari */
    display: flex;

    flex-wrap: wrap;
    flex: 1 0 auto;

    -webkit-flex-wrap: wrap;
    -webkit-flex: 1 0 auto;

    width:100%;
    margin-left: 15px;
	margin-right: 15px;
	margin-top: 5px;
	margin-bottom: 5px;	
    align-items: left;
    justify-content: left;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.bannercell {
    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
	height:200px;
    min-width:120px;
    padding:1em;
}

.bannercelltext {
    display: block;
}

.bannerimage {
    top: 0;
    position: relative;
    height: 200px;
    padding: 2px;
	margin-left: auto;
	margin-right:auto;
	display: block;
	object-fit: contain;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 13px 0px;
}

.bannerlogo {
    top: 0;
    position: relative;
    max-height: 200px;
	width:99%;
	height:auto;
    padding: 2px;
	margin-left: auto;
	margin-right:auto;
	display: block;
	/* max-width: 90%;*/
	/* max-height: 90%;*/
	background-size: contain;
}

.contactimage {
    padding: 0px;
    margin-bottom: 0px;
}

.advertgrid {
    display: -webkit-flex; /* Safari */
    display: flex;

    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;

    width:99%;
    justify-content: center;
	align-content: center;
	
    /*margin-left: 15px;
	margin-right: 15px;*/
    margin-left: 1px;
	margin-right: 1px;	
	margin-top: 5px;
	margin-bottom: 5px;
    padding: 5px;
}

.advert {
    display: -webkit-flex; /* Safari */
    display: flex;

    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;

    -webkit-flex-direction: row;
    flex-direction: row;

    align-content: flex-start;
	
    max-width: 860px;
    min-width: 366px;

    padding: 10px;
    /*border: solid black 1px;*/
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 13px 0px;
	/*margin-right:1px;
	padding-right:1em;
	margin-left:1px;
	padding-left:1em;	*/
	margin:15px;

}

.advertcontent {
    align-self: center;
    display: block;
    width: 99%;
    min-width: 280px;
    vertical-align: top;
	/*margin-right:1px;
	padding-right:1px;
	margin-left:1px;
	padding-left:1px;*/
	margin:5px;
}

.advertvid {
    width: 360px;
    height: 270px;
}

.advertimage {
	margin-top: 3px;
	margin-bottom: 3px;
    width: 360px;
    height: 270px;
}

@media (min-width: 450px){
    .advert {
        width: 45%;
    }
    .advertcontent {
        margin-left: 3%;
        min-width: 0px;
    }
}

.phead1 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-large;
    margin-bottom: 0px;
    margin-top: 0px;
}

.phead2 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: x-large;
    margin-bottom: 0px;
    margin-top: 0px;
}

.phead3 {
    display:block;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: x-large;
    margin-top: 5px;
    margin-bottom: 5px;
}

.ptext1 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: large;
    margin-bottom: 3px;
    margin-top: 3px;
	margin-right: 1px;
}

a:link {
	text-decoration: none;
	color: #C00000;
}
a:visited {
	text-decoration: none;
	color: #C00000;
}
a:hover {
	text-decoration: none;
	color: #666666;
}
a:active {
	text-decoration: none;
}

.mainlink {
	color: #C00000;
	
}

.slink {
	color: #FFFFFF;
	font-size: small;
}

.bodystyle {
    margin-left: 2px;
    margin-top: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
    overflow: scroll;
}

.paperdiv {
    width:99%; 
    position:relative;
    background-color:white;
    display: block;
    /*margin-left:10px;
    margin-right:2px;
    padding:1px;*/
	padding: 2px;
	align-content: top;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.papertitle {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: large;
}

.pcit {
    text-align: left;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-indent: -4em;
    padding-left: 4em;
	padding-right: 0em;
    margin-top: 3px;
	margin-bottom: 12px;
    font-size: large;
    overflow-wrap: break-word;
}



